GalaxyConquest.v11.suo
GalaxyConquest/bin/Debug/freeglut.dll
GalaxyConquest/bin/Debug/GalaxyConquest.exe
GalaxyConquest/bin/Debug/GalaxyConquest.pdb
GalaxyConquest/bin/Debug/GalaxyConquest.vshost.exe
GalaxyConquest/bin/Debug/GalaxyConquest.vshost.exe.manifest
GalaxyConquest/bin/Debug/NAudio.dll
GalaxyConquest/bin/Debug/NAudio.WindowsMediaFormat.dll
GalaxyConquest/bin/Debug/Sounds/laser1.wav
GalaxyConquest/bin/Debug/Sounds/Untitled45.mp3
GalaxyConquest/bin/Debug/Sprites/background/bg1.jpg
GalaxyConquest/bin/Debug/Sprites/objects/meteor.png
GalaxyConquest/bin/Debug/Sprites/PlanetImage/1.JPG
GalaxyConquest/bin/Debug/Sprites/ships/neutral/10.png
GalaxyConquest/bin/Debug/Sprites/ships/player/Assaultboat.png
GalaxyConquest/bin/Debug/Sprites/ships/player/Bomber2.png
GalaxyConquest/bin/Debug/Sprites/ships/player/Fighter1.png
GalaxyConquest/bin/Debug/Tao.FreeGlut.dll
GalaxyConquest/bin/Debug/Tao.Platform.Windows.dll
GalaxyConquest/bin/Debug/Tech.txt
GalaxyConquest/bin/Debug/Tao.OpenGl.dll
GalaxyConquest/obj/x86/Debug/GalaxyConquest.csproj.FileListAbsolute.txt
GalaxyConquest/obj/x86/Debug/GalaxyConquest.csproj.GenerateResource.Cache
GalaxyConquest/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GalaxyConquest/obj/x86/Debug/GalaxyConquest.exe
GalaxyConquest/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
GalaxyConquest/obj/x86/Debug/GalaxyConquest.csprojResolveAssemblyReference.cache
GalaxyConquest/bin/Debug/Starnames.xml
GalaxyConquest/obj/x86/Debug/GalaxyConquest.Form1.resources
GalaxyConquest/obj/x86/Debug/GalaxyConquest.Form_About.resources
GalaxyConquest/obj/x86/Debug/GalaxyConquest.Form_NewGameDialog.resources
GalaxyConquest/obj/x86/Debug/GalaxyConquest.pdb
GalaxyConquest/obj/x86/Debug/GalaxyConquest.Properties.Resources.resources
GalaxyConquest/obj/x86/Debug/GalaxyConquest.Shop.resources
GalaxyConquest/obj/x86/Debug/GalaxyConquest.StarSystems.StarSystemForm.resources
GalaxyConquest/obj/x86/Debug/GalaxyConquest.Tactics.CombatForm.resources
GalaxyConquest/obj/x86/Debug/GalaxyConquest.Tech_Tree.resources
GalaxyConquest/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
GalaxyConquest/bin/Debug/teches.xml
GalaxyConquest/bin/Debug/Starnames backup.xml
GalaxyConquest/Sprites/background/Thumbs.db
GalaxyConquest/Resources/Thumbs.db
GalaxyConquest/Sprites/ships/player/Thumbs.db
GalaxyConquest/obj/x86/Debug/GalaxyConquest.StarShop.resources
GalaxyConquest/bin/Debug/Sprites/ships/player/Battleship.png
GalaxyConquest/bin/Debug/Sprites/ships/player/Frigate.png